header {
	height: 100px;
	padding: 10px;
	background: #3939c8;
	color: white;
}

footer {
	height: 150px;
	padding: 20px;
	background: #193968;
	color: white;
	border-top: 1px solid white;
}

main {
	background: #aaaa;
	color: black;
}

.images {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

@media (max-width: 768px) {
	.images {
		grid-template-columns: 1fr;
	}
}